.key {
    height: 32px;
    width: 64px;
}

.key--notpressed {
    background-color: black;
}

.key--glow {
    background-color: green;
}

.key--alert {
    background-color: red;
}

.keyTest {
    background-image: url(./assets/images/keys/testKey.png);
    background-size: cover;
}
.key0 {
    background-image: url(./assets/images/keys/GC_taste_07_0_durchsichtig_01.png);
    background-size: cover;
}
.key1 {
    background-image: url(./assets/images/keys/GC_taste_07_1_durchsichtig_01.png);
    background-size: cover;
}
.key2 {
    background-image: url(./assets/images/keys/GC_taste_07_2_durchsichtig_01.png);
    background-size: cover;
}
.key3 {
    background-image: url(./assets/images/keys/GC_taste_07_3_durchsichtig_01.png);
    background-size: cover;
}
.key4 {
    background-image: url(./assets/images/keys/GC_taste_07_4_durchsichtig_01.png);
    background-size: cover;
}
.key5 {
    background-image: url(./assets/images/keys/GC_taste_07_5_durchsichtig_01.png);
    background-size: cover;
}
.key6 {
    background-image: url(./assets/images/keys/GC_taste_07_6_durchsichtig_01.png);
    background-size: cover;
}
.key7 {
    background-image: url(./assets/images/keys/GC_taste_07_7_durchsichtig_01.png);
    background-size: cover;
}
.key8 {
    background-image: url(./assets/images/keys/GC_taste_07_8_durchsichtig_01.png);
    background-size: cover;
}
.key9 {
    background-image: url(./assets/images/keys/GC_taste_07_9_durchsichtig_01.png);
    background-size: cover;
}