.gameRegion {
    background-color: black;
    width: 960px;
    height: 540px;
    position: fixed;
    top: 50%;
    left: 50%;
    /* bring your own prefixes */
    transform: translate(-50%, -50%);
}

.backgroundImage {
    background-image: url('./assets/images/hacker-2300772_1920.jpg');
    background-size: cover;
}