.gameRegion {
    background-color: black;
    width: 960px;
    height: 540px;
    position: fixed;
    top: 50%;
    left: 50%;
    /* bring your own prefixes */
    transform: translate(-50%, -50%);
    overflow: hidden;
    background-image: url(../images/gameBackground.png);
    background-size: cover;
    border: solid;
    border-color: black;
}

.backgroundImage {
    background-image: url(../images/hacker-2300772_1920.jpg);
    background-size: inherit;
}

.screen {
    height: 300px;
    width: 460px;
    position: absolute;
    background-color: black;
    left: 110px;
    top: 40px;
}

.screenScore {
    height: 100px;
    width: 100%;
    color: #ff39ce;
    text-align: center;
    font-size: xxx-large;
}

.keyboard {
    height: 150px;
    width: 655px;
    position: absolute;
    background-color: black;
    left: 10px;
    top: 400px;
    padding: 10px;
}

.scoreBoard {
    height: 300px;
    width: 300px;
    background-color: black;
    left: 630px;
    position: absolute;
    top: 50px;
    border: solid;
    border-color: chartreuse;
}

.line {
    width: 620px;
    height: 30px;
}

.line1 {
    margin-left: 15px;
    width: 620px;
    height: 30px;
}

.line2 {
    margin-left: 30px;
    width: 575px;
    height: 30px;
}

.line3 {
    margin-left: 45px;
    width: 445px;
    height: 32px;
}
