
.endscreen{
    background-color: black;
    width: 960px;
    height: 540px;
    position: fixed;
    top: 50%;
    left: 50%;
    /* bring your own prefixes */
    transform: translate(-50%, -50%);

    background-size: cover;
    border: solid;
    border-color: black;
    z-index: 1000;


}
.endscreen-logos{
    height:200px;
    width: 960px;
    vertical-align: middle;
}

#restartbutton{
    background-color: chartreuse !important;
    position: fixed;
    top: 90%;
    left: 48%;
    /* bring your own prefixes */
    transform: translate(-50%, -50%);

}

.endscreen-logos img{
    height:150px;
}
.endscreen-endscore{
    font-size: 20pt;
    color:pink;
    text-align: center;
}

.endscreen-endscore div{
    margin:auto;
}

.endscreen--hidden{
    visibility: hidden;
}
.endscreen--visible{
    visibility: visible;
}

.endscrenn-text{
    vertical-align: middle;
    text-align: center;
    color:red;
    font-size: 50pt;
}




.gameRegion {
    background-color: black;
    width: 960px;
    height: 540px;
    position: fixed;
    top: 50%;
    left: 50%;
    /* bring your own prefixes */
    transform: translate(-50%, -50%);
    overflow: hidden;
    background-image: url(../images/gameBackground.png);
    background-size: cover;
    border: solid;
    border-color: #ff39ce;
}

.splash {
    background-color: black;
    width: 960px;
    height: 540px;
    position: fixed;
    top: 50%;
    left: 50%;
    /* bring your own prefixes */
    transform: translate(-50%, -50%);
    overflow: hidden;
    background-size: cover;
    border: solid;
    border-color: #ff39ce;
}

.volumeControl {
    float: right;
    margin-top: 5px;
    margin-right: 33px;
}

.startButton {
    background-color: chartreuse !important;
    margin-top: 50px;
    margin-left: 440px;
}

.backgroundImage {
    background-color: black;
}

.screen {
    height: 300px;
    width: 460px;
    position: absolute;
    left: 85px;
    top: 50px;
}

.screenPic {
    background-image: url(../images/GC_Bildschirm_05_aus_01.png);
    height: 405px;
    width: 670px;
    position: absolute;
    left: 5px;
    background-size: contain;
    background-repeat: no-repeat;
}

.screenScore {
    height: 100px;
    width: 100%;
    color: #ff39ce;
    text-align: center;
    font-size: xxx-large;
}

.keyboard {
    height: 150px;
    width: 710px;
    position: absolute;
    top: 400px;
    padding: 10px;
    background-image: url(../images/GC_tastHinterg_02.png);
    background-size: cover;
}

.scoreBoard {
    height: 300px;
    width: 300px;
    background-color: black;
    left: 630px;
    position: absolute;
    top: 50px;
    border: solid;
    border-color: chartreuse;
}

.line {
    width: 620px;
    height: 30px;
}

.line1 {
    margin-left: 15px;
    width: 620px;
    height: 30px;
}

.line2 {
    margin-left: 30px;
    width: 575px;
    height: 30px;
}

.line3 {
    margin-left: 45px;
    width: 445px;
    height: 32px;
}

.progressBar {
    margin-left: 70px;
    background-color: purple !important;
}

.textOfProgressBars {
    color: #ff39ce;
    text-align: center;
}

.startText {
    color: #ff39ce;
    border: solid;
    border-color: #ff39ce;
    margin-top: 170px;
    margin-left: 100px;
    margin-right: 100px;
}