.virus {
    height: 30px;
    width: 30px;
    position: absolute;
    background-size: cover;
}

.hidden {
	visibility: hidden;
}

.shown {
	visibility: visible;
}

.virus0 {
    top: 20px;
    left: 325px;
    -webkit-animation-name: animationVirus1;
	-webkit-animation-duration: 0.3s;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-direction: alternate;
	-webkit-animation-timing-function: linear;
}

.virus1 {
    top: 70px;
    left: 110px;
    -webkit-animation-name: animationVirus2;
	-webkit-animation-duration: 0.5s;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-direction: alternate;
	-webkit-animation-timing-function: linear;
}

.virus2 {
    top: 170px;
    left: 50px;
    -webkit-animation-name: animationVirus3;
	-webkit-animation-duration: 0.7s;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-direction: alternate;
	-webkit-animation-timing-function: linear;
}

.virus3 {
    top: 240px;
    left: 300px;
    -webkit-animation-name: animationVirus4;
	-webkit-animation-duration: 0.2s;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-direction: alternate;
	-webkit-animation-timing-function: linear;
}

.virus4 {
    top: 140px;
    left: 380px;
    -webkit-animation-name: animationVirus5;
	-webkit-animation-duration: 0.7s;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-direction: alternate;
	-webkit-animation-timing-function: linear;
}

.virus5 {
    top: 210px;
    left: 100px;
    -webkit-animation-name: animationVirus6;
	-webkit-animation-duration: 0.2s;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-direction: alternate;
	-webkit-animation-timing-function: linear;
}

.virus6 {
    top: 40px;
    left: 200px;
    -webkit-animation-name: animationVirus7;
	-webkit-animation-duration: 0.4s;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-direction: alternate;
	-webkit-animation-timing-function: linear;
}

@keyframes animationVirus1{
	0% {
		background-image: url('../images/virus/3d-Flo_a.png');
	}
    100% {
		background-image: url('../images/virus/3d-Flo_b.png');
	}	
}

@keyframes animationVirus2{
	0% {
		background-image: url('../images/virus/benmaxrei_win_a.png');
	}
    100% {
		background-image: url('../images/virus/benmaxrei_win_b.png');
	}	
}

@keyframes animationVirus3{
	0% {
		background-image: url('../images/virus/legion_a.png');
	}
    100% {
		background-image: url('../images/virus/legion_b.png');
	}	
}

@keyframes animationVirus4{
	0% {
		background-image: url('../images/virus/sake_a.png');
	}
    100% {
		background-image: url('../images/virus/sake_b.png');
	}	
}

@keyframes animationVirus5{
	0% {
		background-image: url('../images/virus/valleplusplusle_a.png');
	}
    100% {
		background-image: url('../images/virus/valleplusplusle_b.png');
	}	
}

@keyframes animationVirus6{
	0% {
		background-image: url('../images/virus/vik_a.png');
	}
    100% {
		background-image: url('../images/virus/vik_b.png');
	}	
}

@keyframes animationVirus7{
	0% {
		background-image: url('../images/virus/ralof_a.png');
	}
    100% {
		background-image: url('../images/virus/ralof_b.png');
	}	
}


.explosion0 {
    -webkit-animation-name: animationExplosion0;
	-webkit-animation-duration: 1.0s;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-direction: alternate;
	-webkit-animation-timing-function: linear;
}

@keyframes animationExplosion0{
	0% {
		background-image: url('../images/explosion/explosion-state_0.png');
	}
    50% {
		background-image: url('../images/explosion/explosion-state_1.png');
	}	
    75% {
		background-image: url('../images/explosion/explosion-state_2.png');
	}	
    100% {
		background-image: url('../images/explosion/explosion-state_3.png');
	}	
}
